.number-present {
    --units: #FEDC00;
    --twentiesAndTeens: #DF5895;
    --decimals: #FF342E;
    --hundreds: #0096FF;
    --thousends: #2BB962;
    --greater: #E6B2DC;
}

.number-present .numChunk {
    display: inline-block;
    margin-left: 10px;
}

.number-present .units { color: var(--units); }

.number-present .decimals { color: var(--decimals); }

.number-present .twentiesAndTeens { color: var(--twentiesAndTeens); }

.number-present .hundreds { color: var(--hundreds); }

.number-present .thousends { color: var(--thousends); }

.number-present .millions { color: var(--greater); }

.number-present .greater { color: var(--greater); }