.hidden {
	display: none !important;
}

.numbers-app {
	width: 420px;
	margin: 20px auto 0;
	background: var(--app-bg-color);
	box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	overflow: hidden;
}

.numbers-app section {
	margin-bottom: 15px;
}

.numbers-app__container {
	padding: 0 0 5px;
}

.numbers-app__section-container {
	padding: 0 10px;
}

.numbers-app textarea,
.numbers-app input {	
	background: var(--input-bg);
	border: 0;
	color: var(--main-font-color);
}

.numbers-app textarea:focus,
.numbers-app textarea:active,
.numbers-app input:focus,
.numbers-app active {
	box-shadow: 0 0 0 1px var(--border-color);
	outline: 0;
}

.numbers-app input {
	padding: 3px;
	border-radius: 30px;
	text-align: center;
}

.numbers-app textarea {
	border-radius: 20px;
	padding: 10px 15px 5px;
	margin: 15px 0 10px;
}

.numbers-app h2 {
	color: var(--headers-font-color);
	background: var(--headers-bg);
	font-size: var(--h2-font-size);
	padding: 5px 10px;
	margin-bottom: 5px;
	font-weight: normal;
	text-align: center;
}

.range-picker__container {
	display: flex;
	margin: 0 -5px;
}

.range-picker__input-container {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin: 0 5px;
}

.range-picker__input-container p {
	font-size: 90%;
}

.range-picker__input--range{
	width: 80px;
}

.number-present__number {
	padding: 10px 0;
	text-align: center;
	font-size: 41px;
}

.number-present__input {
	width: 100%;
	font-size: 15px;
	resize: none;
	height: 90px;
}

.number-present__messages {
	margin-top: 3px;
	text-align: center;
	height: 66px;
    display: flex;
    justify-content: center;
	align-items: center;
	font-size: 17px;
}

.number-present__message--wrong {
	color: var(--error-text-color);
}

.buttons__container {
	display: flex;
	margin: 0 -5px;
}

.buttons__container__button {
	color: var(--discrete-font-color);
	background: none;
	border: 1px solid var(--border-color);
	font-size: 14px;
	border-radius: 12px;
	display: inline-block;
	padding: 3px 5px;
	margin-right: 7px;
	cursor: pointer;
	flex: 1;
	margin: 0 5px;
	padding: 5px 0;
	box-shadow: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .2s;
}

.buttons__container__button:hover {
	color: var(--headers-font-color);
	background: var(--input-bg);
}

.buttons__container__button:active,
.buttons__container__button:focus {
	color: var(--headers-font-color);
	background: var(--input-bg);
	box-shadow: 0 0 0 1px var(--border-color);
	outline: 0;
}

.buttons__container__button--success {
	color: var(--headers-font-color);
	background: var(--input-bg);
}

.buttons__container__button--success:hover {
	color: #fff;
	background: var(--button-accept);
	border: 1px solid #fff;
}

.buttons__container__button--success:active,
.buttons__container__button--success:focus {
	color: #fff;
	background: var(--button-accept);
	box-shadow: 0 0 0 1px #fff;
}

.range-picker__default-ranges {
	margin-top: 15px;
	display: flex;
	justify-items: flex-start;
}

.range-picker__range {
	background: transparent;
	border: 1px solid var(--border-color);
	color: var(--discrete-font-color);
	font-size: 14px;
	border-radius: 12px;
	display: inline-block;
	padding: 3px 5px;
	margin-right: 7px;
	cursor: pointer;
	transition: .2s;
}

.range-picker__range:hover {
	color: var(--headers-font-color);
	background: var(--input-bg);
}