.number-present {
    --units: #BB8800;
    --twentiesAndTeens: #DA4281;
    --decimals: #6675C6;
    --hundreds: #D34E01;
    --thousends: #869600;
    --greater: #92A1A1;
    --and: #92A1A1;
}

.number-present .numChunk {
    display: inline-block;
    margin-left: 10px;
}

.number-present .and { color: var(--and); }

.number-present .units { color: var(--units); }

.number-present .decimals { color: var(--decimals); }

.number-present .twentiesAndTeens { color: var(--twentiesAndTeens); }

.number-present .hundreds { color: var(--hundreds); }

.number-present .thousends { color: var(--thousends); }

.number-present .greater { color: var(--greater); }